In [ ]:
import pandas as pd

In [ ]:
# Definir datos de ejemplo para las estaciones y rutas
estaciones = {
    "Estación A": "A",
    "Estación B": "B",
    "Estación C": "C",
    "Estación D": "D",
    "Estación E": "E",
}

In [ ]:
rutas = [
    ("A", "B", 10, 20000),
    ("A", "C", 15, 3000),
    ("B", "C", 5, 10000),
    ("B", "D", 10, 20000),
    ("C", "D", 20, 4000),
    ("C", "E", 15, 3000),
    ("D", "E", 5, 10000)
]

In [ ]:
# Crear DataFrame para las rutas
df_rutas = pd.DataFrame(rutas, columns=['Origen', 'Destino', 'Tiempo', 'Costo'])

In [ ]:
# Agregar nombres de estaciones
df_rutas['Estación Origen'] = df_rutas['Origen'].map(estaciones)
df_rutas['Estación Destino'] = df_rutas['Destino'].map(estaciones)

In [ ]:
# Reorganizar columnas
df_rutas = df_rutas[['Estación Origen', 'Estación Destino', 'Tiempo', 'Costo', 'Origen', 'Destino']]

In [ ]:
# Guardar el DataFrame como archivo CSV
df_rutas.to_csv('datos_viajes.csv', index=False)

In [ ]:
# Imprimir el DataFrame
print(df_rutas)

  Estación Origen Estación Destino  Tiempo  Costo Origen Destino
0             NaN              NaN      10  20000      A       B
1             NaN              NaN      15   3000      A       C
2             NaN              NaN       5  10000      B       C
3             NaN              NaN      10  20000      B       D
4             NaN              NaN      20   4000      C       D
5             NaN              NaN      15   3000      C       E
6             NaN              NaN       5  10000      D       E